<!-- from tutorial at mobiforge.com and zipso.net plus my modifications -->
<div id="sketchpadapp">
<canvas style="background-color: white;" id="canvas2" width="300" height="300"></canvas>
  <p>
      <button class="colorButton" id="_black" maxlength="1" size="1" style="padding: 20px; background-color: black;">&nbsp;</button>
      <button class="colorButton" id="_white" maxlength="1" size="1" style="padding: 20px; background-color: white;">&nbsp;</button>
      <button class="colorButton" id="_darkgray" maxlength="1" size="1" style="padding: 20px; background-color: darkgray;">&nbsp;</button>
      <button class="colorButton" id="_gray" maxlength="1" size="1" style="padding: 20px; background-color: gray;">&nbsp;</button>
      <button class="colorButton" id="_silver" maxlength="1" size="1" style="padding: 20px; background-color: silver;">&nbsp;</button>
      <button class="colorButton" id="_red" maxlength="1" size="1" style="padding: 20px; background-color: red;">&nbsp;</button>
      <br>
      <button class="colorButton" id="_green" maxlength="1" size="1" style="padding: 20px; background-color: green;">&nbsp;</button>
      <button class="colorButton" id="_blue" maxlength="1" size="1" style="padding: 20px; background-color: blue;">&nbsp;</button>
      <button class="colorButton" id="_brown" maxlength="1" size="1" style="padding: 20px; background-color: brown;">&nbsp;</button>
      <button class="colorButton" id="_yellow" maxlength="1" size="1" style="padding: 20px; background-color: yellow;">&nbsp;</button>
      <button class="colorButton" id="_cyan" maxlength="1" size="1" style="padding: 20px; background-color: cyan;">&nbsp;</button>
      <button class="colorButton" id="_magenta" maxlength="1" size="1" style="padding: 20px; background-color: magenta;">&nbsp;</button>
      <br>
      <button class="colorButton" id="_darkred" maxlength="1" size="1" style="padding: 20px; background-color: darkred;">&nbsp;</button>
      <button class="colorButton" id="_purple" maxlength="1" size="1" style="padding: 20px; background-color: purple;">&nbsp;</button>
      <button class="colorButton" id="_gold" maxlength="1" size="1" style="padding: 20px; background-color: gold;">&nbsp;</button>
      <button class="colorButton" id="_indigo" maxlength="1" size="1" style="padding: 20px; background-color: indigo;">&nbsp;</button>
      <button class="colorButton" id="_olive" maxlength="1" size="1" style="padding: 20px; background-color: olive;">&nbsp;</button>
      <button class="colorButton" id="_#674" maxlength="1" size="1" style="padding: 20px; background-color: #674;">&nbsp;</button>
      <br>
      <button class="colorButton" id="_hotpink" maxlength="1" size="1" style="padding: 20px; background-color: hotpink;">&nbsp;</button>
      <button class="colorButton" id="_pink" maxlength="1" size="1" style="padding: 20px; background-color: pink;">&nbsp;</button>
      <button class="colorButton" id="_lightblue" maxlength="1" size="1" style="padding: 20px; background-color: lightblue;">&nbsp;</button>
      <button class="colorButton" id="_beige" maxlength="1" size="1" style="padding: 20px; background-color: beige;">&nbsp;</button>
      <button class="colorButton" id="_tan" maxlength="1" size="1" style="padding: 20px; background-color: tan;">&nbsp;</button>
      <button class="colorButton" id="_orange" maxlength="1" size="1" style="padding: 20px; background-color: orange;">&nbsp;</button>
  </p>
</div>
<script>
  
</script>
<style>
  #mycanvas {
    position: relative;
  }
</style>