#header_panel, #items {
    text-align: center;
    background-color: purple;
    border: solid 2px blueviolet
}
#items {
    padding: 5%;
    display: none;
    width: 85%;
}
#relativeContainer {
    position: relative;
    text-align: center;
    height: 80%;
}
#relativeContainer, #header_panel {
    width: 100%;
}
