<script>
    $(document).ready(function(){
        $("#header_panel").click(function(){
            $("#items").slideToggle("slow");
        });
    });
</script>
<div style="text-align:center">
  <h2>
    Welcome to {{ title }}!
  </h2>
  <div id="page">
      <div id="header_panel">Click to choose avatar {{ item }}</div>
      <div id="myChoices" (click)="showHairs()">
        <bodies id="bodyness"></bodies>
        <hairs id="hairstuff"></hairs>
      </div>
      <div id="relativeContainer" style="text-align:center"></div><br>
      <br><div>
          <button>
              Start over
          </button>
      </div>   
  </div> 
</div>

