button { 
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
#header_panel, #items {
    text-align: center;
    background-color: purple;
    border: solid 2px blueviolet
}
