#items {
    padding: 5%;
    display: none;
    width: 85%;
    border: solid 1px;
    background-color: blueviolet;
}
body {
    position: relative;
    text-align: center;
    height: 80%;
}
#relativeContainer, #header_panel {
    width: 100%;
}