.avatarOptions button {
    margin: 12%;
    position: relative;
    top: -40%;
    left: -10%;
}
.avatarOptions {
    position: relative;
    padding-top: -10%;
    width: 80%;
    left: 20%;
}
#avatarOptionsContainer {
    position: relative;
    margin-top: -10%;
}
@media screen and (min-width: 550px) {
    .avatarOptions button { 
        margin: 8%; 
    }
    .avatarOptions {
        padding-top: 0;
    }
}
@media screen and (min-width: 925px) {
    .avatarOptions button { 
        margin: 5%; 
    }
    .avatarOptions {
        padding: 4%;
    }
}